{% extends "base.html" %}
{% set active_page = "about" %}
{% block title %}About{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<div class="row">

  <p class="lead">This application makes it easier for travelers to use their Facebook data to find people to meet when traveling.</p>

  <p>This application respects your privacy and therefore does not save any information about you or your friends in any form. In addition to the <a href="//www.facebook.com/terms.php">Statement of Rights and Responsibilities</a>, required for anyone who uses Facebook, applications and developers are bound by the <a href="//developers.facebook.com/policy/">Facebook Developer Principles & Policies</a>.</p>

  <p>This application is in beta so check back often for updates and additional features. Feel free to provide feedback on the <a href="//www.facebook.com/friendsbylocation">application page</a> or contact us at <a href="mailto:help@meetdazy.com">help@meetdazy.com</a>.</p>
  
  <p>To request that we delete you account, please email us at <a href="mailto:help@meetdazy.com">help@meetdazy.com</a>.</p>

</div>

<div class="row">
  <div id="privacy_policy">
</div>

<div class="row">
  <p class="lead">Terms of Service</p>
  <div id="terms_of_service">
</div>

<script>
$("#privacy_policy").load("/static/text/privacy_policy.html")
$("#terms_of_service").load("/static/text/terms_of_service.txt")
</script>

{% endblock %}
