{% extends "base.html" %}
{% set active_page = "about" %}
{% block title %}About{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<div class="row">

  <p class="lead"><b>How Dazy Works</b><p>

  <p><b>1. Pick a destination.</b></p> 
  <p>Try your current location or anywhere you'd like to go.</p>

  <p><b>2. Meet the locals.</b></p>
  <p>Discover who you're connected to in that destination.</p>

  <p><b>3. Explore your connections.</b></p>
  <p>Reconnect with old friends and meet new ones through your network. Reach out directly or get introduced by a mutual friend.</a></p>

  <p><b>Your Experience is Powered by Your Network.</b></p> 
  <p>The more friends you invite to Dazy the more local connections you will see.</p>
  
</div>

<div class="row">
  <a name="privacy"></a> 
  <div id="privacy_policy">
</div>

<div class="row">
  <a name="terms"></a> 
  <div id="terms_of_service">
</div>

<div class="row">
  <p>To request that we delete you account, please email us at <a href="mailto:help@meetdazy.com">help@meetdazy.com</a>.</p>
</div>

<script>
$("#privacy_policy").load("/static/text/privacy_policy.html")
$("#terms_of_service").load("/static/text/terms_of_service.html")
</script>

{% endblock %}
