{% set active_page = active_page|default('index') %}
{% if userprefs is defined %}
	{% set location_name = userprefs.search_name %}
{% endif %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <title>{% block title %}{% endblock %} - Dazy</title>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49284677-2', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- add theme -->
		{% block head %}{% endblock %}
  </head>
  <body>

    <div id="fb-root"></div>
    <script type="text/javascript">
		//<![CDATA[
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});
        FB.Event.subscribe('{% if user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          {% if user %} window.location = "/logout" {% else %} window.location.reload(); {% endif %}
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    //]]>
    </script>

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" rel="home" href="/" title="Travel. Connected.">
            <img style="max-width:100px; margin-top: -7px;"
              src="/static/images/Logo-Over-Black_CMYK.jpg">
            </img>
          </a>
        </div>
        <div class="navbar-text navbar-right">
          <div 
            class="fb-login-button" 
            data-size="large" 
            data-show-faces="false" 
            data-auto-logout-link="true" 
            data-scope="read_stream,export_stream,publish_checkins,publish_stream,user_location,friends_location,public_profile,basic_info,user_friends,publish_actions">
          </div>
        </div>
        <div class="navbar-header navbar-right">
        
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if "about" == active_page %} class="active"{% endif %}><a href="/about">About</a></li>
            <li {% if "profile" == active_page %} class="active"{% endif %}><a href="/profile">Profile</a></li>
            <li {% if "index" == active_page %} class="active"{% endif %}><a href="/">Search</a></li>
            <li {% if "friends" == active_page %} class="active"{% endif %}><a href="/friends">{{ location_name|default('Friends') }}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
      {% if user %}
        <h1><a href="{{ user.profile_url }}"><img width="50" height="50" src="//graph.facebook.com/{{ user.id }}/picture?type=square"/></a>Hello, {{ user.name|escape }}</h1>
      {% else %}
        <h1>Welcome to Dazy. Sign in to continue.</h1>
      {% endif %}
        <p class="lead"><b>Discover who you know, and who you can be introduced to, anywhere.</b> Dazy makes traveling more social by helping you find and connect to friends (and friends of friends) in any destination.</p>
      </div>

    </div><!-- /.container -->

    <div class="container" id="content">{% block content %}{% endblock %}</div>

    <footer>
      <div class="container">
        <p class="text-muted">Dazy - <a href="/about">About</a> - <a href="/terms">Terms</a> - <a href="/privacy">Privacy</a></p>
      </div>
    </footer>

  </body>
  
</html>

