<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <title>{% block title %}{% endblock %} - Facebook Friends by Location</title>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
    <!-- add theme -->
		{% block head %}{% endblock %}
  </head>
  <body>

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Friends by Location</a>
        </div>
        <div class="nav navbar-right">
          <p><fb:login-button autologoutlink="true" scope="read_stream,export_stream,publish_checkins,publish_stream,user_location,friends_location,public_profile,basic_info,user_friends"></fb:login-button></p>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Locations</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
      {% if user %}
        <h1>Hello, {{ user.name|escape }}</h1>
      {% else %}
        <h1>Hello, sign it to continue.</h1>
      {% endif %}
        <p class="lead">Find friends to meet when traveling.</p>
      </div>

    </div><!-- /.container -->

    <div class="container">
      {% if user %}
        <a href="{{ user.profile_url }}"><img width="50" height="50" src="http://graph.facebook.com/{{ user.id }}/picture?type=square"/></a>
      {% endif %}
    </div>

    <div id="fb-root"></div>
    <script type="text/javascript">
		//<![CDATA[
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          {% if current_user %} window.location = "/logout" {% else %} window.location.reload(); {% endif %}
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    //]]>
    </script>
    <div class="container" id="content">{% block content %}{% endblock %}</div>
  </body>
</html>

