{% extends "base.html" %}
{% set active_page = "friends" %}
{% block title %}Friends{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

{% macro render_thumbnails(profiles) -%}
  {% for profile in profiles %}
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
        <img src="https://graph.facebook.com/{{ profile['id'] }}/picture?width=200" style="height:200px;vertical-align:middle" alt="pic_big" />
        <div class="caption">
          <h3>{{ profile.name|escape }}</h3>
          {% if profile.about_me %}
            <p>{{ profile.about_me|escape }}</p>
          {% endif %}
          <p>
            <a href="{{ profile['link'] }}" 
               class="btn btn-default" 
               role="button">
               <span class="glyphicon glyphicon-user"></span>
            </a>
            <a class="msg_link btn btn-primary" role="button" target="_blank" href="https://m.facebook.com/messages/thread/{{ profile.uid }}/"><span class="glyphicon glyphicon-envelope msg" id="msg_{{ profile.uid }}"></span></a>
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
{%- endmacro %}

{% macro render_thumbnails_dict(profiles) -%}
  {% for uid, profile in profiles %}
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="https://graph.facebook.com/{{ profile['id'] }}/picture?width=200" style="height:200px;vertical-align:middle" alt="pic_big" />
      <div class="caption">
        <h3>{{ profile.name|escape }}</h3>
        {% if profile.about_me %}
          <p>{{ profile.about_me|escape }}</p>
        {% endif %}
        <p>
          <a href="{{ profile['link'] }}" 
             class="btn btn-default" 
             role="button">
             <span class="glyphicon glyphicon-user"></span>
          </a>
          <a class="msg_link btn btn-primary" role="button" target="_blank" href="https://m.facebook.com/messages/thread/{{ profile.uid }}/"><span class="glyphicon glyphicon-envelope msg" id="msg_{{ profile.uid }}"></span></a>
          <a class="vouch_link btn btn-primary" 
             role="button" href="#" 
             data-traveler="{{ user.id }}"
             data-connector="{{ profile['friends'][0]['id'] }}"
             data-local="{{ profile['id'] }}"
             data-location-name="{{ location_name }}">
             <span class="glyphicon glyphicon-question-sign"></span>
          </a>
          <span>{{ profile.friends|length }} mutual</span>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
{%- endmacro %}


  {% if user %}

  <div class="row">
    <div class="">

      {% if friends_local|length > 0 %}
      <p>1st degree <b>app user</b> friends in {{ location_name }}: {{ friends_local|length }}</p>
      <div class="row">
        {{ render_thumbnails(friends_local) }}
      </div>
      {% endif %}

      <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign"></span>
        2nd degree connections are only visible through a 1st degree app user.
        <a href="#" id="sendRequest" data-message="Hi, accept this app so I can connect through you to people you may know in {{ location_name }} while I'm traveling.">Invite your friends to see more!</a>
      </div>

      <div id="vouchResult" class="alert alert-success hide" role="alert"></div>

      {% if friends_local_2|length > 0 %}
      <p>2nd degree friends in {{ location_name }}: {{ friends_local_2|length }}</p>
      <div class="row">
        {{ render_thumbnails_dict(friends_local_2.iteritems()) }}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <script type="text/javascript">
    if (!('ontouchstart' in window)) {
      $(".msg_link").attr('href', '#');
      $(".msg_link").removeAttr("target");
      $('.msg').click(function() {
        var uid = $(this).attr('id').replace('msg_','');
        FB.ui({
          method: 'send',
          to: uid,
          name: 'Send Message',
          link: '{{ location_link }}',
          });
      });
    }
  </script>

  <script type="text/javascript">
    $('#sendRequest').click(function() {
      FB.ui(
        {
          method  : 'apprequests',
          title   : 'Invite people to connect through',
          message : $(this).attr('data-message'),
          {% if friends_local_not_user_uid_list|length > 0 %}
          filters : [{name: '{{ location_name|truncate(19, True) }} friends', user_ids: {{ friends_local_not_user_uid_list }}}],
          {% else %}
          filters : ['app_non_users'],
          {% endif %}
        },
        function (response) {
          // If response is null the user canceled the dialog
          if (response != null) {
            console.log(response);
          }
        }
      );
    });
  </script>
  
  <script type="text/javascript">
    $('.vouch_link').click(function() {
    	var that = this;
      FB.api(
        'me/friends_by_location:request',
        'post',
        {
          vouch: "https://friendsbylocation.appspot.com/vouch" 
                 + "?traveler="  + $(this).attr('data-traveler') 
                 + "&connector=" + $(this).attr('data-connector') 
                 + "&local="     + $(this).attr('data-local')
                 + "&location="  + encodeURIComponent($(this).attr('data-location-name'))
        },
        function(response) {
          if (!response) {
            alert('Error occurred.');
          } else if (response.error) {
            console.log('Error: ' + response.error.message);
          } else {
            console.log('Story: https://www.facebook.com/me/activity/' + response.id);
            $("#vouchResult").html(
              '<a href=\"https://www.facebook.com/me/activity/' 
              + response.id 
              + '\">Vouch request sent!</a>'
            );
            $("#vouchResult").removeClass('hide');
          }
        }
      );
    });
  </script>
  
{% endblock %}
