{% extends "base.html" %}
{% block title %}Friends{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  {% if user %}

    <p>Friends in {{ location_name }}: {{ friends_list|length }}</p>

        <div class="row">
         <div class="col-md-6">

          <ul class="list-group">
            {% for friend in friends_list %}
              <li class="list-group-item">
                <a href="{{ friend.profile_url }}"><img src="{{ friend.pic_small }}" style="width:50px;height:50px;vertical-align:middle"/>{{ friend.name|escape }}</a>
              </li>
            {% endfor %}

          </ul>
          </div>
        </div>

    <p>Ask your friends in {{ location_name }} to show you more people to connect with: <a href="#" id="sendRequest" data-message="Hi, accept this app so I can connect through you to people in {{ location_name }} while I'm traveling.">Send Requests</a></p>

    <p>Friends of friends who have authorized this app in {{ location_name }}: {{ friends_friends_list|length }}</p>

        <div class="row">
         <div class="col-md-6">

          <ul class="list-group">
            {% for friend in friends_friends_list %}
              <li class="list-group-item">
                <a href="{{ friend.profile_url }}"><img src="{{ friend.pic_small }}" style="width:50px;height:50px;vertical-align:middle"/>{{ friend.name|escape }}</a>
              </li>
            {% endfor %}
          </ul>
          </div>
        </div>


    <ul>

    </ul>
  {% endif %}

  <script type="text/javascript">
    $('#sendRequest').click(function() {
      FB.ui(
        {
          method  : 'apprequests',
          title   : 'Invite people to connect through',
          message : $(this).attr('data-message'),
          //filters : ['app_non_users'],
          filters : [{name: '{{ location_name|truncate(22, True) }} friends', user_ids: {{ friends_list_uid }}}],
        },
        function (response) {
          // If response is null the user canceled the dialog
          if (response != null) {
            console.log(response);
          }
        }
      );
    });
  </script>
{% endblock %}
