{% extends "base.html" %}
{% block title %}Locations{% endblock %}
{% block content %}
  {% if user %}

    <div class="container-fluid">

      <div class="row-fluid">

        <div class="col-md-4 col-lg-4">

          <ul class="list-group">
            <li class="list-group-item active">
              <b>1st degree friends: {{ friends_count }}</b>
            </li>
            {% for key,value in locations.items() %}
              <li class="list-group-item">
                <span class="badge">{{ value.count }}</span>
                <span class="location" data-location-id="{{ key }}">{{ value.name }}</span>
              </li>
            {% endfor %}
          </ul>

        </div>

      </div>

      <div class="row-fluid">

        <div class="col-md-4 col-lg-4">

          <ul class="list-group">
            <li class="list-group-item active">
              <b>2nd degree friends: {{ friends_count_2 }}</b>
            </li>
            {% for key,value in locations_2.items() %}
              <li class="list-group-item">
                <span class="badge">{{ value.count }}</span>
                <span class="location" data-location-id="{{ key }}">{{ value.name }}</span>
              </li>
            {% endfor %}
          </ul>

        </div>

      </div>

    </div>

    </div>
    <script>
      $('.location').click(function(){
            var item = $(this);
            var text_to_insert = ' <img src="/static/images/loading.gif" /> ';
            $.post(
              "/prefs",
              {
                location: $(this).attr('data-location-id'),
                beforeSend: function(){
                  $(item).append($(text_to_insert));
                },
              },
              function() {
                  window.location.assign("/friends");
              }
            );
      });
    </script>
  {% endif %}
{% endblock %}
