{% extends "base.html" %}
{% block title %}Locations{% endblock %}
{% block content %}
      {% if user %}
        <p>Locations of {{ friends_count }} friends.</p>
        <ul>
        {% for key,value in locations.items() %}
          <li>{{ value.count }} in {{ value.name }}</li>
        {% endfor %}
        </ul>
        <form action="/prefs" method="post">
          <label for="location">
            Filter by location:
          </label>
          <select name="location">
            {% for key,value in locations.items() %}
              <option value="{{ key }}" 
								{% if userprefs.location_id == key %}
									selected="selected"
								{% endif %}
								>{{ value.name }}
							</option>
            {% endfor %}
          </select>
          <input type="submit" />
        </form>
      {% endif %}
{% endblock %}
