{% extends "base.html" %}
{% set active_page = "profile" %}
{% block title %}Profile{% endblock %}

{% block head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100% }
</style>
<!--
<script type="text/javascript"
  src="//maps.google.com/maps/api/js?key={{google_maps_api_key}}&sensor=false">
</script>
-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript">
var geocoder;
var map;

  function initialize() {
	  geocoder = new google.maps.Geocoder();
    var mapOptions = {
      center: new google.maps.LatLng(
    		  {% if userprefs.location_lat and userprefs.location_lat != 0 %}
    		    {{userprefs.location_lat}},
    		  {% else %}
    		    34.0522342,
    		  {% endif %}
    		  {% if userprefs.location_lng and userprefs.location_lng != 0 %}
    		    {{userprefs.location_lng}}
          {% else %}
    		    -118.2436849
          {% endif %}
    		  ),
      zoom: 8,
      draggable: false,
      navigationControl: false,
      mapTypeControl: false,
      panControl: false,
      scaleControl: false,
      scrollwheel: false,
      streetViewControl: false,
      zoomControl: false,
    };
    map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
  }
  
  function codeAddress() {
	  var address = document.getElementById('location_input').value;
	  geocoder.geocode( { 'address': address}, function(results, status) {
	    if (status == google.maps.GeocoderStatus.OK) {
	      map.setCenter(results[0].geometry.location);
	      var marker = new google.maps.Marker({
	          map: map,
	          position: results[0].geometry.location
	      });
	      document.getElementById('location_input').value = results[0].formatted_address;
	      document.getElementById("lat").value = results[0].geometry.location.lat();
	      document.getElementById("lng").value = results[0].geometry.location.lng();
	      document.getElementById("button_lookup").classList.remove('btn-default');
	      document.getElementById("button_lookup").classList.remove('btn-danger');
	      document.getElementById("button_lookup").classList.add('btn-success');
	    } else {
	      alert('Geocode was not successful for the following reason: ' + status);
	      document.getElementById("lat").value = "";
	      document.getElementById("lng").value = "";
	      document.getElementById("button_lookup").classList.remove('btn-default');
	      document.getElementById("button_lookup").classList.add('btn-success');
	      document.getElementById("button_lookup").classList.add('btn-danger');
	    }
	  });
	}
    
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block content %}
{% if user %}
  
<div class="container-fluid">

  <div class="row-fluid">
   <div id="map-canvas" class="" style="height:300px;"></div>
  </div>
  
  <div class="row-fluid">
    <form class="form-horizontal" action="/profile" method="post">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Profile</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="local_city_input">Local City</label>  
      <div class="col-md-5">
        <input id="location_input" name="location" type="text" 
          placeholder="{{ userprefs.location_name|default('Los Angeles, CA') }}" class="form-control input-md" required="">
        <span class="help-block">Enter your local city and click Lookup.</span>  
      <input type="button" id="button_lookup" class="btn btn-default" value="Lookup" onclick="codeAddress()">
      <input type="hidden" id="lat" name="latitude" value=""/>
      <input type="hidden" id="lng" name="longitude" value=""/>
      </div>
    </div>
    
    <!-- Multiple Checkboxes -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="cbNetworkVisibility">Open to meeting</label>
      <div class="col-md-4">
        <div class="checkbox">
          <label for="cbNetworkVisibility-0">
            <input type="checkbox" name="cbNetworkVisibility" id="cbNetworkVisibility-0" value="0">
            friends of friends
          </label>
      </div>
      </div>
    </div>
        
    <div class="form-group">
      <label class="col-md-4 control-label" for="cbAcknowledgedTerms">Terms</label>
      <div class="col-md-4">
        <div class="checkbox">
          <label for="cbAcknowledgedTerms">
            <input {% if userprefs.acknowledged_terms %}checked{% endif %} type="checkbox" name="cbAcknowledgedTerms" id="cbAcknowledgedTerms" value="0">
            I acknowledge that I have read and agreed to the Dazy <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>
          </label>
        </div>
      </div>
    </div>
    
    {% if show_terms %}
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Please accept the terms of service before proceeding.
    </div>
    {% endif %}

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for=submitbutton></label>
      <div class="col-md-4">
        <button id="submitbutton" type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
      
    </fieldset>
    </form>
  </div>
 
</div>

{% endif %}
{% endblock %}
